/* One single file full of simple CSS for the hackathon */
/*  =================== 
    $BASE
    =================== */
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Disable selection/copy in UIWebView */
}

html {
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    color: #45464a;
    font-size: 1.5em;
    text-align: center;
    background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

body, html {
    min-height: 100%;
    height: 100%;
    overflow:hidden;
}

button {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}





/*  =================== 
    $MEDIA QUERIES
    =================== */
.warning {
    position: absolute;
    width: 100%;
    height: 100%;
      opacity: 1;
      z-index: 0;
    -webkit-transition: opacity 2s;
       -moz-transition: opacity 2s;
         -o-transition: opacity 2s;
            transition: opacity 2s;
    background: white;
}

.warning-container {
    margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      height: 300px;
}

.pad {
    opacity: 1;
    position: relative;
    z-index: 100;
}

.draw {
    opacity: 1;
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
}

.logo {
    max-width: 100%;
    margin: auto;
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
}

.is-hidden {
    opacity: 0;
    display: none;
    z-index: 0;
}

@media only screen and (orientation:portrait) {
  .pad {
    display: none;
  }

  .warning {
    opacity: 1 !important;
    display: block !important;
  }
}



/*  =================== 
    $PAD
    =================== */

/* Don't blame me :( "I don't need SASS", yeah right... */
.buttons {
    position: fixed;
    margin-right: 50px;
    right: 0;
    background: url('../images/bg-buttons.png') no-repeat center center;
    width: 324px;
    height: 333px;
    top: 50%;
    margin-top: -166px;
}
.button {
    background: url('../images/buttons.png') no-repeat;
    width: 123px;
    height: 100px;
}
.button-y { 
    background-position: 0px 0px;
    position: absolute;
    top: -25px;
    left: 50%;
    margin-left: -61px;
}
    .button-y.is-active {background-position: 0px -100px; }
.button-x { 
    background-position: -123px 0px; 
    position: absolute;
    top: 50%;
    left: -25px;
    margin-top: -50px;
}
    .button-x.is-active {background-position: -123px -100px; }
.button-a { 
    background-position: -246px 0px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    margin-left: -61px;
    margin-top: -25px;
}
    .button-a.is-active {background-position: -246px -100px; }
.button-b { 
    background-position: -369px 0px;
    position: absolute;
    top: 50%;
    right: 0%;
    margin-right: -25px;
    margin-top: -50px;
}
    .button-b.is-active {background-position: -369px -100px; }


.arrows {
    position: fixed;
    margin-left: 50px;
    left: 0;
    background: url('../images/bg-arrows.png') no-repeat center center;
    width: 346px;
    height: 345px;
    top: 50%;
    margin-top: -172px;
}

.arrow {
    background: url('../images/arrows-main.png') no-repeat;
    width: 346px;
    height: 345px;
    position: absolute;
}

    .arrow-up, 
    .arrow-down {
        width: 159px;
        height: 150px;
        background-position: -93px 0;
        top: 0;
        left: 50%;
        margin-left: -80px;
    }
    .arrow-down { 
        background-position: -93px bottom;
        top: auto;
        bottom: 0;
    }
    .arrow-down.is-active { background-position: -439px bottom; }
    .arrow-up.is-active { background-position: -439px 0; }

    .arrow-left, 
    .arrow-right {
        height: 159px;
        width: 150px;
        background-position: 0 50%;
        left: 0;
        top: 50%;
        margin-top: -80px;
    }
    .arrow-right { 
        background-position: -197px 50%; 
        right: 0;
        left: auto;
    }
    .arrow-left.is-active { background-position: -346px 50%; }
    .arrow-right.is-active { background-position: -543px 50%; }

.arrow-d {
    background: url('../images/arrows-diagonal.png') no-repeat;
    width: 346px;
    height: 345px;
    position: absolute;
    width: 100px;
    height: 100px;
}
    .arrow-left-down { bottom: 0; background-position: 0 bottom;}
    .arrow-right-up { right: 0; background-position: right 0; }
    .arrow-right-down { right: 0; bottom: 0; background-position: right bottom; }